@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Editing @Model.Name</h2>
<p>@Html.ActionLink($"Delete {Model.Name}", "Delete", new{id=Model.EngineerId})</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model=>model.EngineerId)

  @Html.LabelFor(model=>model.Name);
  @Html.EditorFor(model=>model.Name)

  if(@ViewBag.Machines.Count != 0)
  {
    @Html.Label("Select a machine this engineer is certified for")
    @Html.DropDownList("MachineId")
  }
  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to Engineer List", "Index")</p>
